.Additionalsidebar-container{
    width: 25%;
    height: 100vh;
    position: fixed;
    display: none;
    overflow:scroll;
    align-items: center;
    flex-direction: column;
    left: 25%;
    top: 75px;
    background-color: #303032a1;
}
.Additionalsidebar-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .Additionalsidebar-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }