.dashboard-container{
    background-color: #212020;
    display: flex;
    padding-top:75px;
    flex-direction: row;
}
.dashboard-content{
    width: 75%;
    min-height: 140vh;
    height: fit-content;
    /* background-color: rebeccapurple; */
}